// colors
$primary: #eb564f;
$black: #171717;
$secondary2: #93c13d;
$secondary3: #0daaeb;
$gray-500: #5b6770;
$gray-400: #8a98a2;
$gray-300: #aebcc6;
$gray-200: #dae1e6;
$gray-100: #f5f7fa;
$white: #ffffff;
$background-color: #30373ac4;
$background-color-options: #30373ae0;
$gray-100-opacity: #f5f7fa8a;
$select-placeholder: #7c7e80;

// media
$bp-tablet: 996px;
$bp-mobile-l: 428px;
